<title>{{title}}</title>
<div class="center">
    <mat-grid-list cols="4" rowHeight="16:9" gutterSize="2px">
        <mat-grid-tile colspan="4" (click)="message = 'go to Provider #1 menu'">
            <img src="https://img.icons8.com/emoji/96/000000/tropical-drink.png" alt="Provider #1"> 
        </mat-grid-tile>
        <mat-grid-tile (click)="message = 'go to Provider #2 menu'">
            <img src="https://img.icons8.com/fluent/96/000000/champagne-bottle.png" alt="Provider #2">
        </mat-grid-tile>
        <mat-grid-tile (click)="message = 'go to Provider #3 menu'">
            <img src="https://img.icons8.com/color/96/000000/coctail-shot.png" alt="Provider #3">
        </mat-grid-tile>
        <mat-grid-tile (click)="message = 'go to Provider #4 menu'">
          <img src="https://img.icons8.com/doodle/96/000000/coconut-cocktail.png" alt="Provider #4">
      </mat-grid-tile>
      <mat-grid-tile (click)="message = 'go to Provider #5 menu'">
          <img src="https://img.icons8.com/fluent/96/000000/cocktail.png" alt="Provider #5">
      </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="center" *ngIf="message">
    <ngb-alert type="success" dismissible="true" (close)="closeAlert()">{{message}}</ngb-alert>
    
    <!--form class="example-form"-->
        <mat-form-field class="example-full-width">
          <input type="text"
                 placeholder="Make a donation"
                 aria-label="Number"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      <!--/form-->
</div>
<p>
  <a href="https://icons8.com/icon/_4TDTNsyL22A/tropical-drink">Tropical Drink icon by Icons8</a>
</p>
<p>
  <a href="https://icons8.com/icon/nTWu0EFlR2bN/champagne-bottle">Champagne Bottle icon by Icons8</a>
</p>
<p>
  <a href="https://icons8.com/icon/39390/coctail-shot">Coctail Shot icon by Icons8</a>
</p>
<p>
  <a href="https://icons8.com/icon/Pgqo2juZprVT/coconut-cocktail">Coconut Cocktail icon by Icons8</a>
</p>
<p>
  <a href="https://icons8.com/icon/Ahz3lUASsszJ/cocktail">Cocktail icon by Icons8</a>
</p>