<title>{{title}}</title>
<div class="center">
    <mat-grid-list cols="4" rowHeight="16:9" gutterSize="2px">
        <mat-grid-tile colspan="4" (click)="message = 'go to Provider #1 menu'">
            <img src="https://img.icons8.com/emoji/96/000000/tropical-drink.png" alt="Provider #1"> 
        </mat-grid-tile>
        <mat-grid-tile (click)="message = 'go to Provider #2 menu'">
            <img src="https://img.icons8.com/fluent/96/000000/champagne-bottle.png" alt="Provider #2">
        </mat-grid-tile>
        <mat-grid-tile (click)="message = 'go to Provider #3 menu'">
            <img src="https://img.icons8.com/color/96/000000/coctail-shot.png" alt="Provider #3">
        </mat-grid-tile>
        <mat-grid-tile (click)="message = 'go to Provider #4 menu'">
          <img src="https://img.icons8.com/doodle/96/000000/coconut-cocktail.png" alt="Provider #4">
      </mat-grid-tile>
      <mat-grid-tile (click)="message = 'go to Provider #5 menu'">
          <img src="https://img.icons8.com/fluent/96/000000/cocktail.png" alt="Provider #5">
      </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="center" *ngIf="message">
    <ngb-alert type="success" dismissible="true" (close)="closeAlert()">{{message}}</ngb-alert>
    
    <!--form class="example-form"-->
        <mat-form-field class="example-full-width">
          <input type="text"
                 placeholder="Make a donation"
                 aria-label="Number"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      <!--/form-->
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <h4>Follow Me</h4>
  <a class="w3-button w3-large w3-teal" href="https://www.facebook.com/manuel.m.speranza" title="Facebook"><i class="fa fa-facebook"></i></a>
  <a class="w3-button w3-large w3-teal" href="https://twitter.com/SperanzaManuel" title="Twitter"><i class="fa fa-twitter"></i></a>
  <a class="w3-button w3-large w3-teal" href="https://www.instagram.com/manuel.m.speranza/" title="Instagram"><i class="fa fa-instagram"></i></a>
  <a class="w3-button w3-large w3-teal w3-hide-small" href="https://www.linkedin.com/in/manuelmsperanza" title="Linkedin"><i class="fa fa-linkedin"></i></a>
  <a class="w3-button w3-large w3-teal w3-hide-small" href="https://github.com/manuelmsperanza" title="Github"><i class="fa fa-github"></i></a>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  <p>
    <a href="https://icons8.com/icon/_4TDTNsyL22A/tropical-drink">Tropical Drink icon by Icons8</a>
  </p>
  <p>
    <a href="https://icons8.com/icon/nTWu0EFlR2bN/champagne-bottle">Champagne Bottle icon by Icons8</a>
  </p>
  <p>
    <a href="https://icons8.com/icon/39390/coctail-shot">Coctail Shot icon by Icons8</a>
  </p>
  <p>
    <a href="https://icons8.com/icon/Pgqo2juZprVT/coconut-cocktail">Coconut Cocktail icon by Icons8</a>
  </p>
  <p>
    <a href="https://icons8.com/icon/Ahz3lUASsszJ/cocktail">Cocktail icon by Icons8</a>
  </p>
  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>   
    <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>

