<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"
         metadata-complete="false">
<context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <env-entry>
        <env-entry-name>auth0.domain</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>${hoffnunglandUsAuth0ComDefaultAppDomain}</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>auth0.clientId</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>${hoffnunglandUsAuth0ComDefaultAppClient}</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>auth0.clientSecret</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>${hoffnunglandUsAuth0ComDefaultAppSecret}</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>auth0.scope</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>openid profile email</env-entry-value>
    </env-entry>
    <security-constraint>
		<web-resource-collection>
			<web-resource-name>Viewpoint Secure URLs</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
