<section id="ticd">
    <div class="container">
        <h3>Things I Can Do</h3>
        <p>Click on images to open the GitHub repository</p>
            
      <div class="features">
        <article>
          <a href="https://github.com/manuelmsperanza/hoffnungland" target="_blank" class="image">
            <img src="images/home_banner.gif" alt=""/>
        </a>
          <div class="inner">
            <h4>This website</h4>
            <p>Angular project of current website</p>
          </div>
        </article>
        <article>
            <a href="https://github.com/manuelmsperanza/hoffnungland-backend-app" target="_blank" class="image"><img src="images/hl_backend.gif" alt="" /></a>
            <div class="inner">
                <h4>This website backend</h4>
                <p>Node project of current website backend, based on express written in Typescript</p>
            </div>
        </article>
        <article>
            <a href="https://github.com/manuelmsperanza/ReadEmail" target="_blank" class="image">
                <img src="images/read_email.gif" alt="" />
            </a>
            <div class="inner">
                <h4>ReadEmail</h4>
                <h5>Utility to prioritize email scrolling</h5>
                <p>This VBA project connect to Outlook and prioritize email based on following search folders: Sent Straight to me, Sent to me, VIP, VIP out and Sent To My Groups</p>
            </div>
        </article>
        <article>
            <a href="https://github.com/manuelmsperanza/SysAdminManager" target="_blank" class="image">
                <img src="images/hl_gear.gif" alt="" />
            </a>
            <div class="inner">
                <h4>SysAdminManager</h4>
                <h5>Utility to categorize email and manage the life-cycle</h5>
                <p>Outlook add-on VBA project: you can categorize sent and received email adding custom flags like: New, Backlog, Active, Verifing and Read<br>
You can also set reminder for today, this week, next week or reset all.<br>
For draft email you can delay the sending out of business hours</p>
            </div>
        </article>
        <article>
            <a href="https://github.com/manuelmsperanza/LoggingCorner" target="_blank" class="image">
                <img src="images/hl_gear.gif" alt="" />
            </a>
            <div class="inner">
                <h4>LoggingCorner</h4>
                <h5>Manage the projects logging feature</h5>
                <p>Java project dedicated to logging</p>
            </div>
        </article>
        <article>
            <a href="https://github.com/manuelmsperanza/DBCorner" target="_blank" class="image">
                <img src="images/hl_gear.gif" alt="" />
            </a>
            <div class="inner">
                <h4>DBCorner</h4>
                <h5>Simplify the DB connection on several technologies</h5>
                <p>Java project dedicated to standardize DB connection, queries extraction and so on</p>
            </div>
        </article>
        <article>
            <a href="https://github.com/manuelmsperanza/JMSCorner" target="_blank" class="image">
                <img src="images/hl_gear.gif" alt="" />
            </a>
            <div class="inner">
                <h4>JMSCorner</h4>
                <h5>Simplify the JMS connection on several technologies</h5>
                <p>Java project dedicated to standardize JMS connection</p>
            </div>
        </article>
        <article>
            <a href="https://github.com/manuelmsperanza/POICorner" target="_blank" class="image">
                <img src="images/poi_corner.gif" alt="" />
            </a>
            <div class="inner">
                <h4>POICorner</h4>
                <h5>Provide open source feature for every day Office tasks</h5>
                <p>Java project provide utilities to manage Office documents and automatize tasks</p>
            </div>
        </article>
        <article>
            <a href="https://github.com/manuelmsperanza/SaxonXPathUtils" target="_blank" class="image">
                <img src="images/hl_gear.gif" alt="" />
            </a>
            <div class="inner">
                <h4>SaxonXPathUtils</h4>
                <h5>Simplify xpath and XSL feature</h5>
                <p>Java project to standardize the xpath and XML related tasks</p>
            </div>
        </article>
        <article>
            <a href="https://github.com/manuelmsperanza/JAppKeyStoreManager" target="_blank" class="image">
                <img src="images/key_store.gif" alt="" />
            </a>
            <div class="inner">
                <h4>JAppKeyStoreManager</h4>
                <h5>Basic project to store passwords securely</h5>
                <p>Java project to read and write JKS</p>
            </div>
        </article>
        <article>
            <a href="https://github.com/manuelmsperanza/JSalesforceMigrationTool" target="_blank" class="image">
                <img src="images/hl_salesforce.gif" alt="" />
            </a>
            <div class="inner">
                <h4>JSalesforceMigrationTool</h4>
                <h5>Allow you to read and write Salesforce configuration</h5>
                <p>Java project based on Salesforce ant library to extract metadata configuration, transform and deploy.<br>
You can also stop and restart all automations, triggers, workflows and so on with a button<br>
You can put org configuration on excel file</p>
            </div>
        </article>
        <article>
            <a href="https://github.com/manuelmsperanza/JTunneling" target="_blank" class="image">
                <img src="images/tunnel.gif" alt="" />
            </a>
            <div class="inner">
                <h4>JTunneling</h4>
                <h5>Utility to manage and monitor the session tunneling</h5>
                <p>Java project to manage and monitor the session tunneling</p>
            </div>
        </article>
        <article>
            <a href="https://github.com/manuelmsperanza/KamiMeans" target="_blank" class="image">
                <img src="images/hl_gear.gif" alt="" />
            </a>
            <div class="inner">
                <h4>KamiMeans</h4>
                <h5>Utility clusterize data</h5>
                <p>Java project to clusterize data using K-Means</p>
            </div>
        </article>
        <article>
            <a href="https://github.com/manuelmsperanza/SfdcBulkV2Utility" target="_blank" class="image">
                <img src="images/hl_gear.gif" alt="" />
            </a>
            <div class="inner">
                <h4>SfdcBulkV2Utility</h4>
                <h5>Utility to use bulk and batches on Salesforce</h5>
                <p>Java project to use bulk and batches on Salesforce</p>
            </div>
        </article>
      </div>
      <p>if you find them interesing
        <br>
        <a class="footer-buttons" href='https://ko-fi.com/K3K441XSO' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://storage.ko-fi.com/cdn/kofi6.png?v=6' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
    </p>
    </div>
  </section>