<mat-card appearance="outlined">
  <mat-card-header>
      <mat-card-title>Now you can talk with my assistant. Try it!</mat-card-title>    
  </mat-card-header>
  <mat-card-content>
    <div class="chat-container">
      <div class="message-list">      
        <mat-list role="list">
          <div  
            *ngFor="let msg of messages"
            [ngClass]="{'user-message': msg.sender === 'user', 'assistant-message': msg.sender === 'assistant'}">
            <p *ngFor="let line of msg.text">
              {{ line }}
            </p>
        </div>
        </mat-list>
      </div>
      <form (ngSubmit)="sendMessage()" class="input-container">
        <mat-form-field class="message-input" appearance="outline">
          <mat-label>Type your message</mat-label>
          <input matInput [(ngModel)]="userMessage" name="userMessage" />
        </mat-form-field>
        
        @if (isWaitingForResponse) {
        <mat-spinner></mat-spinner>
        } @else {
          <button mat-raised-button color="primary" type="submit">
            Send
          </button>
        }
      </form>
    </div>
  </mat-card-content>
</mat-card>