<mat-accordion>
    <mat-expansion-panel *ngFor="let drivingSchool of DRIVINGSCHOOLS; let i=index;">
        <mat-expansion-panel-header>
            <mat-panel-title>{{drivingSchool.name}}</mat-panel-title>
            <mat-panel-description>{{drivingSchool.id}}</mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
</mat-accordion>
<mat-form-field class="example-full-width">
    <mat-label>Driving School Name</mat-label>
    <input matInput placeholder="Ex. Pizza" [(ngModel)]="newDrivingSchool.name">
</mat-form-field>
<button mat-button color="primary" (click)="addDrivingSchool()">
    <mat-icon>plus_one</mat-icon>
</button>