<h1>{{title}}</h1>
<!--div id="chart"></div-->
<ag-grid-angular
	#agGrid
	style="width: auto; height: 80%;"
	class="ag-theme-alpine"
	[columnTypes]="columnTypes"
	[rowData]="rowData"
	[columnDefs]="columnDefs"
	(gridReady)="onGridReady($event)"
	(bodyScroll)="onBodyScroll($event)"
	(firstDataRendered)="onFirstDataRendered($event)"></ag-grid-angular>
<footer>
	<!--button mat-button (click)="autoSizeAll(false)">Auto-Size All</button-->
	<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
		<button mat-button (click)="auth.logout({ returnTo: document.location.href })">
			Log out
		</button>
	</ng-container>

	<ng-template #loggedOut>
		<button mat-button (click)="auth.loginWithRedirect({redirect_uri : document.location.href})">Log in</button>
	</ng-template>
	<span *ngIf="auth.user$ | async as user">
		Hello {{ user.name }} - {{ user.email }}
	</span>
</footer>
<router-outlet></router-outlet>