<h1>{{title}}</h1>
<!--div id="chart"></div-->

<ag-grid-angular
	#agGrid
	style="width: auto; height: 300px;"
	class="ag-theme-alpine"
	[columnTypes]="columnTypes"
	[rowData]="rowData"
	[columnDefs]="columnDefs"></ag-grid-angular>
<div>
	<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
		<button (click)="auth.logout({ returnTo: document.location.href })">
			Log out
		</button>
	</ng-container>

	<ng-template #loggedOut>
		<button (click)="auth.loginWithRedirect({redirect_uri : document.location.href})">Log in</button>
	</ng-template>
	<span *ngIf="auth.user$ | async as user">
		Hello {{ user.name }} - {{ user.email }}
	</span>
</div>
<router-outlet></router-outlet>