
<style>
  html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">
  <!-- The Grid -->
  <div class="w3-row-padding">
    <!-- Left Column -->
		<div class="w3-third">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-row w3-hide-small">
          <div class="w3-display-container">
            <img src="assets/images/avatar.jfif" style="width:100%" alt="Avatar"/>
            <div class="w3-display-bottomleft w3-container w3-text-black">
              <h2 class="w3-text-white">Manuel Speranza</h2>
            </div>
          </div>
        </div>
        <div id="linkedInBadge" class="LI-profile-badge w3-hide-large w3-hide-medium" data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="manuelmsperanza">
          <a class="LI-simple-link" [href]="trustedLinkedinBadge">Manuel Speranza</a>
        </div>
        <div class="w3-container">
          <p>
            <i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>
            <span>Designer</span>
          </p>
          <p>
            <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>
            <span>Milan, 🇮🇹</span>
          </p>
          <p>
            <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>
            <a href="mailto:m.speranza@email.it?subject=ciao%20Manuel&amp;body=you&apos;re%20cool">m.speranza@email.it</a>
          </p>
          <p>
            <i class="fa fa-google fa-fw w3-margin-right w3-large w3-text-teal"></i>
            <a href="mailto:manuel.m.speranza@gmail.com?subject=ciao%20Manuel&amp;body=you&apos;re%20cool">manuel.m.speranza@gmail.com</a>
          </p>
          <p>
            <i class="fa fa-windows fa-fw w3-margin-right w3-large w3-text-teal"></i>
            <a href="mailto:manuel.m.speranza@outlook.it?subject=ciao%20Manuel&amp;body=you&apos;re%20cool">manuel.m.speranza@outlook.it</a>
          </p>
          <!--p>
            <i class="fa fa-whatsapp fa-fw w3-margin-right w3-large w3-text-teal"></i>
            <span>+39 3465141294</span>
          </p-->
          <p>
            <i class="fa fa-skype fa-fw w3-margin-right w3-large w3-text-teal"></i>
            <a href="skype:manuel.m.speranza?chat">manuel.m.speranza</a>
          </p>
          <hr>
          <p class="w3-large">
            <b>
              <i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>
              <span>Skills</span>
            </b>
          </p>
          <p>Java</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
          </div>
          <p>Salesforce CRM</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
              <div class="w3-center w3-text-white">80%</div>
            </div>
          </div>
          <p>Oracle DB</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
              <div class="w3-center w3-text-white">80%</div>
            </div>
          </div>
          <p>Talend Open Studio</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
              <div class="w3-center w3-text-white">75%</div>
            </div>
          </div>
          <p>Oracle Communications Suite</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
          </div>
          <p>Angular</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
          </div>
          <br>
          <p class="w3-large w3-text-theme">
            <b>
              <i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>
              <span>Languages</span>
            </b>
          </p>
          <p>Italian</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:80%"></div>
          </div>
          <p>German</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:25%"></div>
          </div>
          <br>
        </div>
      </div>  
      <!-- End Left Column -->
    </div>
    
    <!-- Right Column -->
    <div class="w3-twothird">
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16">
          <i class="fa fa-pencil fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>
          <span>Who am I</span>
        </h2>
        <div class="w3-container">
          <h5 class="w3-opacity">
            <!--b>A brief overview of myself</b-->
          </h5>
          <p>Solution Architect with strong technical fundamentals and software development experience on enterprise technologies.</p>
          <p>Highly oriented towards collaboration with colleagues and suppliers to ensure fulfilment of business requirements, the most appropriate planning of project activities and applicative delivery to support business processes.</p>
          <p>The approach to the problem-solving is oriented to:</p>
          <ul>
            <li>innovation and facilitation of changes</li>
            <li>commitment on timing and the way the solutions are built</li>
            <li>strategic vision of the need up to the delivery</li>
          </ul>
          <!--hr/-->
        </div>
      </div>
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16">
          <i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>
          <span>Work Experience</span>
        </h2>
        <div class="w3-container">
        <h5 class="w3-opacity">
            <b>Solution Architect Technical Manager / Webresults s.r.l.</b>
          </h5>
          <h6 class="w3-text-teal">
            <i class="fa fa-calendar fa-fw w3-margin-right"></i>
            <span>Feb 2021 - </span>
            <span class="w3-tag w3-teal w3-round">Current</span>
          </h6>
          <hr/>
          <p>Solution Architect, specialized in Salesforce CRM.</p>
          <h5 class="w3-opacity">
            <b>Technology Architect Associate Manager / Accenture Technology Solutions s.r.l.</b>
          </h5>
          <h6 class="w3-text-teal">
            <i class="fa fa-calendar fa-fw w3-margin-right"></i>
            <span>Apr 2005 - Jan 2021</span>
          </h6>
          <p>Advanced Software Engineer, specialized in JavaEE, Oracle Database and Oracle Communications Suite.</p>
        </div>
      </div>
      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16">
          <i class="fa fa-globe fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>
          <span>Sites</span>
        </h2>
        <div class="w3-container">
          <h5 class="w3-opacity">
            <b>Simple Java Facelets Application</b>
          </h5>
          <h6 class="w3-text-teal">
            <i class="fa fa-external-link fa-fw w3-margin-right"></i>
            <a href="/faceletWeb" target="_blank">Facelet Web</a>
          </h6>
          <p>Java Web Development!</p>
          <hr/>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity">
            <b>Simple Java Facelets Application + Auth0 authentication</b>
          </h5>
          <h6 class="w3-text-teal">
            <i class="fa fa-external-link fa-fw w3-margin-right"></i>
            <a href="/loginAuth0/profile" target="_blank">Login Auth0</a>
          </h6>
          <p>Java Web Authentication!</p>
          <hr/>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity">
            <b>Simple Angular Development</b>
          </h5>
          <h6 class="w3-text-teal">
            <i class="fa fa-user fa-fw w3-margin-right"></i>
            <a href="/orderEntryWeb" target="_blank">Simple Order Entry</a>
          </h6>
          <p>Example of Order Entry Project</p>
          <hr/>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity">
            <b>My Marvel's film list with Ag-Grid</b>
          </h5>
          <h6 class="w3-text-teal">
            <i class="fa fa-film fa-fw w3-margin-right"></i>
            <a href="/marvelFilmListApp" target="_blank">Marvel's Film list</a>
          </h6>
          <p>Example of Ag-Grid worksheet</p>
          <br/>
        </div>
      </div>
    <!-- End Right Column -->
    </div>
  <!-- End Grid -->
  </div>
  <!-- End Page Container -->
    <footer class="w3-container w3-teal w3-center w3-margin-top">
    <p>Find me on social media.</p>	
    <a [href]="trustedFacebookUrl" title="Facebook">
        <i class="fa fa-facebook-official w3-hover-opacity" style="padding-right:2px;padding-left:2px"></i>
    </a>
    <a [href]="trustedTwitterUrl" title="Twitter">
      <i class="fa fa-twitter w3-hover-opacity" style="padding-right:2px;padding-left:2px"></i>
    </a>
    <a [href]="trustedInstagramUrl" title="Instagram">
      <i class="fa fa-instagram w3-hover-opacity" style="padding-right:2px;padding-left:2px"></i>
    </a>
    <a [href]="trustedLinkedinUrl" title="Linkedin">
      <i class="fa fa-linkedin w3-hover-opacity" style="padding-right:2px;padding-left:2px"></i>
    </a>
    <a [href]="trustedGithubUrl" title="Github">
      <i class="fa fa-github w3-hover-opacity" style="padding-right:2px;padding-left:2px"></i>
    </a>
    <a [href]="trustedStackOverflowUrl" title="Stack-Overflow">
      <i class="fa fa-stack-overflow w3-hover-opacity" style="padding-right:2px;padding-left:2px"></i>
    </a>
    <p>
      <span>Powered by </span>
      <a [href]="trustedW3CssUrl" target="_blank">w3.css</a>
    </p>
    <p>
      <a [href]="trustedIubendaUrl" class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe " title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    </p>
	</footer>
</div>