
<section id="welcome">
  <div class="image main" data-position="center">
    <img src="images/home_banner.png" alt="" />
  </div>
  <div class="container">
    <header class="major">
@if (isAuthenticated) {
      <h2>Welcome {{ userName }} to {{ title}}...</h2>
      
      <button class="button primary" (click)="auth.logout({ logoutParams: { returnTo: document.location.origin } })">Log out</button>
      <span class="example-spacer"></span>
      <app-chat></app-chat>
      
    } @else {
      <h2>Welcome to {{ title}}...</h2>
      <p class="header p">Please do login to access the features.
        <span class="example-spacer"></span>
        <button class="button alt icon solid fa-check" (click)="auth.loginWithRedirect()">Log in</button>
      </p>
      
      
      
    }
    </header>
  </div>
</section>


  <router-outlet />
  <app-projects></app-projects>
<app-contact-form emailValue="{{ userEmailAddress }}"/>
