
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .footer-buttons {
    display: flex;
    gap: 10px;
  }

  .button.primary {
    background-color: #4acaa8;
    color: #ffffff !important;
  }

  .header.p {
		color: #aaa;
		position: relative;
		margin: 0 0 1.6875em 0;
	}