<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon fontIcon="home">Home</mat-icon>
  </button>
  <span>Welcome to Hoffnungland...</span>
  <span class="example-spacer"></span>
  <button mat-button (click)="auth.loginWithRedirect()">Log in</button>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<router-outlet />
<mat-grid-list cols="2" rowHeight="4:3">
  <mat-grid-tile>
    <app-chat></app-chat>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-contact-form />
  </mat-grid-tile>
</mat-grid-list>

<footer class="footer">
  <a class="footer-buttons" href='https://ko-fi.com/K3K441XSO' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://storage.ko-fi.com/cdn/kofi6.png?v=6' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
  <form class="footer-buttons" action="https://www.paypal.com/donate" method="post" target="_top">
    <input type="hidden" name="business" value="VU48PTCSF93A2" />
    <input type="hidden" name="no_recurring" value="0" />
    <input type="hidden" name="item_name" value="Support the development of these features" />
    <input type="hidden" name="currency_code" value="EUR" />
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    <img alt="" border="0" src="https://www.paypal.com/en_IT/i/scr/pixel.gif" width="1" height="1" />
  </form>
</footer>